<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:fragment="pagination(currentPage, totalPages)">
        <nav>
            <ul class="pagination">
                <li th:if="${currentPage > 1}">
                    <a th:href="@{'?page=' + ${currentPage - 1}}">Anterior</a>
                </li>
                <li th:text="${currentPage + ' de ' + totalPages}"></li>
                <li th:if="${currentPage < totalPages}">
                    <a th:href="@{'?page=' + ${currentPage + 1}}">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>

</body>

</html>