/* GENERAL */
body {
  background-size: contain;
  background-attachment: fixed;
  color: #F1DEAB;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 270px;
  background: #213431;
  color: #F1DEAB;
  padding: 2rem 1rem;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 1000;
  transition: left .3s ease-in-out;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 5px 0;
  color: #F1DEAB;
  text-decoration: none;
}

.sidebar a:hover,
.sidebar a.active {
  background:#e5d18a;
  color:#111;
  font-weight:600;
}

.logout-button {
  background:#F1DEAB;
  color:black;
  padding:10px 15px;
  border-radius:10px;
  font-weight:600;
}

.logo img {
  width:100%;
  max-width:210px;
}

/* MAIN */
.main {
  margin-left:270px;
  width:calc(100% - 270px);
  padding:2rem;
  background:#fdfdf5f1;
  color:#213431;
}

.main h1 {
  background:#213431;
  color:white;
  padding:1rem;
  text-align:center;
  border-radius:10px;
}

/* GRID GENERAL */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:1.5rem;
}

.card {
  background:white;
  padding:1.5rem;
  border-radius:12px;
}

/* KPI */
.kpi-grid {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}

.kpi-card {
  background:#f8d794;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
  text-align:center;
  color:#213431;
}

/* BOTÓN HAMBURGUESA */
.menu-toggle {
  display:none;
  position:fixed;
  top:15px;
  left:15px;
  background:#213431;
  color:#F1DEAB;
  font-size:2rem;
  border:none;
  padding:8px 12px;
  border-radius:8px;
  z-index:2000;
}

/* RESPONSIVE */
@media (max-width:768px) {

  .menu-toggle { display:block; }

  .sidebar {
    left:-270px;
  }

  .sidebar.active {
    left:0;
  }

  .main {
    margin-left:0;
    width:100%;
    padding-top:70px;
  }

  .kpi-grid {
    grid-template-columns:repeat(2,1fr);
  }
}

@media (max-width:480px) {
  .kpi-grid {
    grid-template-columns:1fr;
  }
}
