body {
  background-size: contain;
  background-attachment: fixed;
  color: #F1DEAB;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}

/* BOTÓN HAMBURGUESA */
.hamburger {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  background: #213431;
  color: #F1DEAB;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1500;
  display: none;
}

/* Mostrar en móvil */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

/* SIDEBAR */
.sidebar {
  width: 270px;
  background: #213431;
  color: #F1DEAB;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  transition: transform .3s ease-in-out;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #e5d18a;
  color: #000000;
  font-weight: 600;
}

/* MAIN */
.main {
  margin-left: 270px;
  width: calc(100% - 270px);
  padding: 2rem;
  background-color: #fdfdf5f1;
  color: #F1DEAB;
  min-width: 0;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    width: 100%;
  }
}

/* KPIs */
.kpi-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 30px 0;
}

.kpi-card {
  background: #f8d794;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

/* KPIs responsivas */
@media (max-width: 992px) {
  .kpi-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .kpi-grid {
    grid-template-columns: 1fr;
  }
}

/* Tarjetas gráficas */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
}

canvas {
  width: 100% !important;
  height: auto !important;
}
