body {
  background-size: contain;
  background-attachment: fixed;
  color: #F1DEAB;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}

/* Sidebar */
.sidebar {
  width: 270px;
  background: #213431;
  color: #F1DEAB;
  padding: 2rem 1rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

.sidebar h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  color: #F1DEAB;
}

.text-muted {
   color: #F1DEAB;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 10px;
  transition: background 0.2s ease;
  color: #F1DEAB;
  font-weight: 500;
  text-decoration: none;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #e5d18a;
  color: #000000;
  font-weight: 600;
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: #F1DEAB;
  color: #000;
  font-weight: 600;
  justify-content: center;
}

.logout-button:hover {
  background-color: #daa755;
  color: #000000;
}

.sidebar .logo img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
}

/* MAIN */
.main {
  margin-left: 270px;
  width: calc(100% - 270px);
  padding: 2rem;
  background-color: #fdfdf5f1;
  color: #F1DEAB;
  min-width: 0;
}

.main h1 {
  font-size: 2rem;
  color: #ffffff;
  background: #213431;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

/* TARJETAS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.card h3 {
  font-size: 1.2rem;
  color: #025419;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1.4rem;
  font-weight: bold;
  color: #123757;
}

.chart-container {
  width: 100%;
  max-width: 650px;  /* ← límite para evitar gráficos gigantes */
  margin: 0 auto;
}

canvas {
  width: 100% !important;
  height: auto !important;
}


@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .main {
    margin-left: 200px;
    width: calc(100% - 200px);
    padding: 1rem;
  }

  .chart-container {
    max-width: 450px;
  }
}

@media (max-width: 576px) {
  .dashboard-wrapper {
    flex-direction: column;
  }

  .sidebar {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 1rem;
    position: relative;
  }

  .main {
    margin-left: 0;
    width: 100%;
    margin-top: 1rem;
  }

  .chart-container {
    max-width: 100%;
  }
}
