body {
    background-color: #fdfdf5f1 !important;
    color: #fdfdf5f1;
    font-family: "Poppins", sans-serif;
}

.container {
    background-color: #fdfdf5f1;
    padding: 2rem;
    border-radius: 12px;
}
.header-section {
    display: flex;
    align-items: center;       
    justify-content: center;   
    gap: 20px;                 
    text-align: left;         
}

.header-section .text-section h1 {
    color: var(--buttermilk);
    font-weight: bold;
    margin: 0;
}

.header-section .text-section p {
    color: var(--marzipan);
    margin: 0;
}

.header-section h1 {
    font-size: 2rem;
    color: #213431;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}

.header-section p {
    margin-top: 0.5rem;
    color: #213431;
    font-weight: 500;
}

.btn-gold,
.btn-outline-primary.btn-planifest,
.btn-outline-secondary.btn-planifest {
    background-color: #F1DEAB;
    color: #000;
    border: none;
    font-weight: 600;
    border-radius: 8px;
}

.btn-gold:hover,
.btn-outline-primary.btn-planifest:hover,
.btn-outline-secondary.btn-planifest:hover {
    background-color: #daa755;
    color: #000;
}

.btn-success {
    background-color: #daa755;
    color: #000;
    border: none;
}

.btn-success:hover {
    background-color: #f1deab;
    color: #000;
}


.card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
}

.card-header.custom-header {
    background-color: #213431;
    color: #daa75580;
    padding: 1rem;
}

.card-body {
    background-color: #fffef5;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form-control:focus {
    border-color: #daa755;
    box-shadow: 0 0 5px #daa75580;
}

.table {
    margin-bottom: 0;
}

.custom-thead {
    background-color: #213431;
    color: #F1DEAB;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fffef5;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #f7f3e7;
}

.table td,
.table th {
    vertical-align: middle;
}

/* Botones de acción en tabla */
.table .btn-outline-primary {
    background-color:#daa755;
    border: 1px solid #daa755;
    color: #fffef5;
}

.table .btn-outline-primary:hover {
    background-color: #daa755;
    color:  #fffef5;;
}

.table .btn-outline-danger {
    background-color:#daa755;
    border: 1px solid #daa755;
    color: #fffef5;
}

.table .btn-outline-danger:hover {
    background-color: #daa755;
    color: #fff;
}

.alert-success {
    background-color: #daa755;
    color: #000;
    border: none;
}

.alert-danger {
    background-color: #7a1f1f;
    color: #fff;
    border: none;
}


#formularioCliente.collapse.show {
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}
