body {
    background-color: #fdfdf5f1;
    min-height: 100vh;
    margin: 0;
    color: #222222; /* texto oscuro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-section h1 {
    color: #0a422b; 
    font-weight: bold;
}
.header-section p {
    color: #0a422b; 
}
.header-section {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    text-align: left; 
}

.header-section .text-section h1 {
    color: var(--buttermilk);
    font-weight: bold;
}

.header-section .text-section p {
    color: var(--marzipan);
    margin: 0;
}


.btn,
.btn-primary,
.btn-success,
.btn-outline-primary,
.btn-outline-secondary {
    background-color: #d4a85c; 
    border-color: #d4a85c;
    color: #ffffff; 
    font-weight: bold;
    transition: 0.3s;
}
.btn:hover {
    background-color: #b97b29;
    border-color: #b97b29;
    transform: scale(1.05);
}

.badge.bg-warning { background-color: #e1a95f; color: #222222; }
.badge.bg-success { background-color: #5f9e5f; color: #ffffff; }
.badge.bg-info { background-color: #f0e2c1; color: #222222; }

.table {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.05);
}
.table thead {
    background-color: #5f9e5f; /* wasabi */
    color: #e3d8d0;
    font-weight: bold;
}
.table tbody tr:hover {
    background-color:#e3d8d0;
    transition: 0.3s;
}

.card.fondo-transparente {
    background-color: rgba(241, 222, 168, 0.4);
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    backdrop-filter: blur(6px);
}
.card-header.nuevo-evento,
.card-header.lista-eventos {
    background-color: #d4a85c;
    color: #ffffff;
    font-weight: bold;
}
.action-btn {
    margin-right: 8px; 
    margin-bottom: 5px; 
    display: inline-block;
}


.form-control:focus, .form-select:focus {
    border-color: #d4a85c;
    box-shadow: 0 0 0 0.2rem rgba(238, 236, 235, 0.25);
}

.action-btn { margin-right: 8px; }
.btn-sm { min-width: 80px; text-align: center; }
.btn-edit {
    background-color: #d4a85c;
    border-color: #d4a85c;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
}
.btn-edit:hover {
    background-color: #b97b29;
    border-color: #b97b29;
    transform: scale(1.05);
}
.btn-delete {
    background-color: #e1a95f;
    border-color: #e1a95f;
    color: #222222;
    font-weight: bold;
    transition: 0.3s;
}
.btn-delete:hover {
    background-color: #d4a85c;
    border-color: #d4a85c;
    transform: scale(1.05);
}

.btn-nuevo-evento {
    background-color: #d4a85c;
    border-color: #d4a85c;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
}
.btn-nuevo-evento:hover {
    background-color: #b97b29;
    border-color: #b97b29;
    transform: scale(1.05);
}

.lista-eventos-bar {
    background-color: #d4a85c;
    color: #ffffff;
    font-weight: bold;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
