body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.81)),
    url(../images/login/login.jpg) center/cover no-repeat;
  color: #d2b48c;
  padding: 20px;
}

.login-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column; /* Logo arriba */
  align-items: center;
  gap: 25px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(210, 180, 140, 0.3);
}

/* LOGO ARRIBA */
.logo-wrapper {
  width: 150px;
  display: flex;
  justify-content: center;
}
.logo-wrapper img {
  width: 100%;
  height: auto;
}

/* CONTENIDO CENTRAL */
.login-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* COLUMNA IMAGEN */
.login-image {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  width: 100%;
  border-radius: 12px;
}

/* COLUMNA FORMULARIO */
.login-form {
  flex: 2;
  min-width: 260px;
}

.login-container h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

.form-control {
  background-color: #000;
  color: #d2b48c;
  border: 1px solid #d2b48c;
}

.form-control:focus {
  box-shadow: 0 0 5px #d2b48c;
}

.btn-custom {
  background-color: #c6996f;
  color: #ffffff;
  border-radius: 30px;
  width: 100%;
}

.btn-custom:hover {
  background-color: #d2b48c;
  color: #000000;
}

a {
  color: #d2b48c;
  text-decoration: none;
}

a:hover {
  color: #b8860b;
}

/* RESPONSIVE: Vista móvil */
@media (max-width: 768px) {
  .login-content {
    flex-direction: column;
    text-align: center;
  }

  .login-image img {
    max-width: 280px;
  }

  .btn-custom {
    padding: 12px;
  }
}
