body {
    background-color: #fdfdf5f1 ; /* color suave en lugar de gradiente */
    min-height: 100vh;
    color: #142b20; /* texto oscuro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #142b20; 
    font-weight: bold;
}

p.text-muted {
    color: #142b20 !important; /* marzipan */
}

.logo img {
    filter: drop-shadow(0 0 6px rgba(255,255,255,0.4));
}

.btn,
.btn-primary,
.btn-success,
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-danger {
    background-color: #9F6920 !important; /* golden-brown */
    border-color: #9F6920 !important;
    color: white !important;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 8px;
}

.btn:hover {
    background-color: #b97b29 !important;
    border-color: #b97b29 !important;
    transform: scale(1.05);
}
form .btn-primary {
    background-color: blue !important;
    border-color: #10666d !important;
    color: white !important;
}

form .btn-primary:hover {
    background-color: #0c4e52 !important;
    border-color: #0c4e52 !important;
    transform: scale(1.05);
}

/* === BOTÓN LIMPIAR (Verde suave) === */
form .btn-secondary {
    background-color: #809076 !important;
    border-color: #809076 !important;
    color: white !important;
}

form .btn-secondary:hover {
    background-color: #63735d !important;
    border-color: #63735d !important;
    transform: scale(1.05);
}

/* Botón secundario gris */
.btn-outline-secondary {
    background-color: #809076 !important; /* wasabi */
    border-color: #809076 !important;
}

.btn-outline-secondary:hover {
    background-color: #9bb68c !important;
    border-color: #9bb68c !important;
}

.card {
    background-color: rgba(241, 222, 168, 0.4);
    border: none;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    backdrop-filter: blur(6px);
}

.card-header {
    background-color: #9F6920 !important; /* golden-brown */
    color: white !important;
    font-weight: bold;
}

.table thead {
    background-color: #809076; /* wasabi */
    color: white;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: rgba(233, 197, 121, 0.25);
    transition: 0.3s;
}

.table td, .table th {
    vertical-align: middle;
}

/* === FORMULARIO NUEVO SERVICIO === */
#formularioServicio .card-header {
    background-color: #9F6920 !important;
    color: white !important;
}

.modal-content {
    background-color: rgba(241, 222, 168, 0.9);
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.modal-header {
    background-color: #9F6920 !important;
    color: white !important;
    font-weight: bold;
}

.modal-footer .btn-secondary {
    background-color: #809076 !important;
    border: none;
}

.modal-footer .btn-secondary:hover {
    background-color: #9bb68c !important;
}

.form-control {
    border-radius: 6px;
    border: 1px solid #DAA755; 
    background-color: #ffffffe6
}