body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.8)),
    url(../images/login/login.jpg) center/cover no-repeat;
  color: #d2b48c;
  font-family: "Cormorant Garamond", serif;
  padding: 20px;
}

/* CONTENEDOR PRINCIPAL */
.register-container {
  max-width: 600px;
  width: 100%;
  padding: 40px 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(210, 180, 140, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

/* LOGO ARRIBA */
.logo-wrapper {
  width: 140px;
  display: flex;
  justify-content: center;
}

.logo-wrapper img {
  width: 100%;
  height: auto;
}

/* TITULO */
h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #d2b48c;
  text-align: center;
}

/* INPUTS */
.form-control {
  background-color: #000;
  color: #d2b48c;
  border: 1px solid #d2b48c;
}

.form-control:focus {
  box-shadow: 0 0 5px #d2b48c;
  background-color: #111;
  color: #fff;
}

/* BOTÓN */
.btn-custom {
  background-color: #c6996f;
  color: white;
  border-radius: 30px;
  border: none;
  padding: 12px;
  width: 100%;
}

.btn-custom:hover {
  background-color: #d2b48c;
  color: #000;
}

/* LINKS */
a {
  color: #d2b48c;
  text-decoration: none;
}

a:hover {
  color: #b8860b;
}

