body {
    background-color: #fdfdf5f1; 
    min-height: 100vh;
    margin: 0;
    color: #072821; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-section h1 {
    color: #F1DEA8; /* buttermilk */
    font-weight: bold;
}
.header-section p {
    color: #E9C579; /* marzipan */
}
.header-section h1 {
    color: #0a422b; 
    font-weight: bold;
}
.header-section p {
    color: #0a422b; 
}
.header-section {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    text-align: left; 
}

.btn,
.btn-primary,
.btn-success,
.btn-outline-primary,
.btn-outline-secondary {
    background-color: #9F6920; /* golden-brown */
    border-color: #9F6920;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
.btn:hover {
    background-color: #b97b29; /* tono más claro */
    border-color: #b97b29;
    transform: scale(1.05);
}

.badge.bg-warning {
    background-color: #DAA755; /* rob-roy */
    color: #2b1d14;
}
.badge.bg-success {
    background-color: #809076; /* wasabi */
    color: white;
}
.badge.bg-info {
    background-color: #E9C579; /* marzipan */
    color: #2b1d14;
}

.filtro-botones {
    display: flex;
    gap: 0.5rem;
}

.row.g-3 {
    padding-right: 0;
    align-items: center;
}

@media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 auto;
        width: 24.666667% !important;
    }
}

.table thead {
    background-color: #809076; /* wasabi */
    color: white;
    font-weight: bold;
}
.table tbody tr:hover {
    background-color: rgba(233, 197, 121, 0.25);
    transition: 0.3s;
}

.card.fondo-transparente {
    background-color: rgba(241, 222, 168, 0.4);
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    backdrop-filter: blur(6px);
}

.card-header.nuevo-movimiento {
    background-color: #9F6920; /* golden-brown */
    color: white;
    font-weight: bold;
}
.card-header.lista-movimiento {
    background-color: #9F6920; /* golden-brown */
    color: white;
    font-weight: bold;
}
