 body {
            background-color: #943a3a;
            font-family: 'Poppins', sans-serif;
        }

        .gold-title {
            color: #d4af37;
        }

        .card{
            width: 100px;
            height: 200px;
        }
        .table {
            height: 400px;
            width: 400px;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }

        .card-custom {
            background-color: white;
            border-radius: 16px;
            box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
        }

        .badge-evento {
            background-color: #d4af37;
            color: #fff;
            font-weight: 500;
        }