<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión - PLANIFEST</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>
  <div class="login-container">
    <!-- Columna izquierda: Imagen -->
    <div class="login-image">
      <img th:src="@{/images/dashboard/logoplanifest.png}" alt="Logo de la Empresa">
    </div>

    <div class="login-form">
      <h1 class="text-center mb-4">¡Hola! Bienvenido de vuelta</h1>

      <form th:action="@{/login}" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Correo</label>
          <input type="text" class="form-control" id="username" name="username" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" required />
        </div>
        <button type="submit" class="btn btn-custom w-100">Entrar</button>

        <div th:if="${param.error}" class="alert alert-danger mt-3" role="alert">
        Usuario o contraseña incorrectos. Por favor, intenta de nuevo.
        </div>
      </form>

      <div class="text-center mt-3">
        <span>¿No tienes cuenta?</span>
        <a th:href="@{/registro}">Regístrate aquí</a><br>
      </div>
    </div>
  </div>
</body>


</html>